
* {
  min-height: 0;
  min-width: 0;
  font-family: Lexend, "JetBrainsMono NFP";
  font-size: 16px;
  font-weight: 600;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: #1c1b1f;
}

#workspaces button {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: #3d2b2b;
  color: #f5e0dc;
}

#workspaces button:hover {
  color: #1c1b1f;
  background-color: #a55c5c;
}

#workspaces button.active {
  background-color: #a55c5c;
  color: #ffffff;
}

#workspaces button.urgent {
  background-color: #c94f4f;
  color: #ffffff;
}

#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-notification,
#cpu,
#tray,
#memory,
#window,
#mpris {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: #2d1f1f;
  color: #f5e0dc;
}

#mpris.playing {
  color: #ef9a9a;
}

#mpris.paused {
  color: #bfa3a3;
}

#custom-sep {
  padding: 0px;
  color: #7d5e5e;
}

#cpu {
  color: #d7a4a4;
}

#memory {
  color: #c29494;
}

#clock {
  color: #f5e0dc;
}

#clock.simpleclock {
  color: #efbfbf;
}

#window {
  color: #f5e0dc;
}

#pulseaudio {
  color: #e28d8d;
}

#pulseaudio.muted {
  color: #9c7f7f;
}

#custom-logo {
  color: #eabcbc;
}

#custom-power {
  color: #d36161;
}

tooltip {
  background-color: #2b1c1c;
  border: 2px solid #a55c5c;
}
